.places{
  margin: 0 auto 90px;
  max-width: 987px;
  max-height: 3367px;
}

.place {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr;
  row-gap: 15px;
  margin-bottom: 80px;
}

.place__text {
  margin: 0;
}

.place__title {
  font-size: 72px;
  line-height: 0.76;
  font-weight: 900;
  width: 460px;
  height: 152px;
  margin: 0;
}

.place__artist-title{
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.12px;
  color: #AAAAAA;
}

.place__artist-info {
  max-width: 456px;
  max-height: 67px;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.place__artist-author {
  line-height: 0.22;
  font-size: 18px;
}

.place__paragraph {
  font-size: 18px;
  font-weight: 400px;
  line-height: 1.63;
  letter-spacing: 0;
  margin: 0;
}

.place__purchase-link {
  width: 269px;
  height: 48px;
  background: linear-gradient(90deg, #0278FE 0%, #003A7B 100%);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.place__purchase-link-text {
  color: white;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0px;
  font-weight: 600;
  text-decoration: none;

}